.container {
    background-color: #6eb47e;
    border-radius: 8px;
    padding: 20px;
    width: 800px;
    margin: auto;
    color: white;
    margin-top: 100px;
    
  }
  
  .bookingCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83c993;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
.container h1{
  font-size: 30px;
}


