.whiteBtn{
    background-color: transparent;
    color: #6eb47e;
    border: 2px solid #6eb47e;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.placement{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.whiteBtn:hover {
    background-color: #6eb47e;
    color: white;
}

.greenBtn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.greenBtn:hover {
    background-color: white;
    color: #6eb47e;
}

.transparentBtn{
    background-color: transparent;
    border: none;
    color: white; 
    cursor: pointer;
    right: 50px;
    font-weight: 300;
    
}

.transparentBtn:hover{
    background-color: transparent;
}

.fa-chevron-left{
    padding-right: 10px;
}




