.whiteBtn{
    background-color: transparent;
    color: #6eb47e;
    border: 2px solid #6eb47e;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.whiteBtn:hover {
    background-color: #6eb47e;
    color: white;
  }

.greenBtn{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.greenBtn:hover {
    background-color: white;
    color: #6eb47e;
  }



